<ion-header>
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>




    <ion-title>Inicio</ion-title>

    <ion-icon name="home" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding-horizontal'>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quas quisquam soluta nihil quidem at repellat ad animi recusandae vel a sed obcaecati doloribus corporis, totam delectus voluptas harum! Facere.</p>

</ion-content>
